.Header {
    display: inline-block;
}

.Header dl div {
    display: inline-block;
}
.Ingress {
    display: inline-block;
}

.Ingress dl {
    display: inline;
}

.Ingress dt {
    margin-inline-start: 1em;
    display: inline-block;
}

.Ingress dd {
    margin-inline-start: 5px;
    display: inline-block;
}

.Ingress dt::after {
    content: ': ';
}

.Ingress dd p {
    margin: 0;
    padding: 0;
}
