.tidslinje {
    margin-top: 20px
}

.tidslijerad {
    background-color: var(--ax-bg-default);
}

.firstElementInVedtaksperiode {
    border: 1px solid var(--ax-border-focus) !important;
    border-left: 0 !important;
    box-shadow: none !important;
}

.lastElementInVedtaksperiode {
    border: 1px solid var(--ax-border-focus) !important;
    border-right: 0 !important;
    box-shadow: none !important;
}

.elementInTheMiddleOfVedtaksperiode {
    border: 1px solid var(--ax-border-focus) !important;
    border-left: 0 !important;
    border-right: 0 !important;
    box-shadow: none !important;
}

.normalTilstand {
    background-color: var(--ax-bg-accent-moderate-pressed);
}
.normalTilstand:hover {
    background-color: var(--ax-bg-accent-moderate-hover);
}

.avsluttet {
    background-color: var(--ax-bg-success-moderate-pressed);
}
.avsluttet:hover {
    background-color: var(--ax-bg-success-moderate-hover);
}

.avsluttetUtenUtbetaling {
    background-color: var(--ax-bg-neutral-moderate-pressed);
}
.avsluttetUtenUtbetaling:hover {
    background-color: var(--ax-bg-neutral-moderate-hover);
}

.godkjenning {
    background-color: var(--ax-bg-warning-moderate);
}
.godkjenning:hover {
    background-color: var(--ax-bg-warning-moderate-hover);
}


.normalTilstandDark {
    background-color: var(--ax-bg-accent-strong-pressed);
}
.normalTilstandDark:hover {
    background-color: var(--ax-bg-accent-strong-hover);
}

.avsluttetDark {
    background-color: var(--ax-bg-success-strong-pressed);
}
.avsluttetDark:hover {
    background-color: var(--ax-bg-success-strong-hover);
}

.avsluttetUtenUtbetalingDark {
    background-color: var(--ax-bg-neutral-strong);
}
.avsluttetUtenUtbetalingDark:hover {
    background-color: var(--ax-bg-neutral-strong-hover);
}

.godkjenningDark {
    background-color: #c88d47
}
.godkjenningDark:hover {
    background-color: #bd8a32
}




.arbeidsgiverperiode {
    background-color: var(--ax-bg-brand-magenta-moderate-pressed);
}
.arbeidsgiverperiode:hover {
    background-color: var(--ax-bg-brand-magenta-moderate-hover)
}

.arbeidsgiverperiodeDark {
    background-color: var(--ax-bg-brand-magenta-strong);
}
.arbeidsgiverperiodeDark:hover {
    background-color: var(--ax-bg-brand-magenta-strong-hover)
}


.aktiv {
    border-color: var(--ax-border-danger) !important;
}
