.Card {
    margin: 0.5rem;
    padding: 1.5rem;
    background-color: var(--ax-bg-default);
    border-radius: 0.5rem;
    width: max-content;
}

.HeaderCard {
    background-color: white;
    border-radius: 0.5rem;
    transition: all 0.2s ease;
    width: 100%;
    margin-bottom: 1em;
}
