.Warning {
    background-color: var(--ax-border-warning-subtleA);
}

.Error {
    background-color: var(--ax-border-danger-subtleA);
}

.AktivKnapp {
    background-color: #bebebe;
    border-style: inset;
}
