.PersonView {
    margin: 1em;
    display: grid;
    padding: 2px;
    grid-template-columns: 25% 75%;
    grid-template-areas:
            "header header"
            "nav content";
    background-color:  	#E8E8E8;
}
