
.AktivitetView {
    margin-left: 3rem;
    padding-bottom: 0.3em;
    padding-top: 0.3em;
}

.HeaderLinje {
    padding-inline: 0.5em;
    display: flex;
}

.Icon {
    height: 1rem;
    transition: filter 0.2s ease;
}

.AktivitetViewAlvorlighetsgradLabel {
    width: 3rem;
}

.AktivitetViewMeldingText {
    margin-left: 1em;
    max-width: 45em;
}

