.Header {
    display: flex;
}

.Ekspander {
    width: 12em;
    text-align: left;
    margin-left: 0.5em;
}

.DatoText {
    font-size: small;
    color: grey;
    display: inline-block;
    min-width: 6em;
}

.Meldingsreferanse {
    font-size: small;
    color: grey;
    margin-left: 0.5rem;
    display: inline-block;
    width: 18rem;
}

.KopierMeldingsreferanse  {
    align-items: center;
    outline: none;
    border: none;
    background: none;
    color: white;
    transition: color 0.2s ease;
    display: inline;
    width: min-content;
    padding: 2px;
    margin-left: 0.5rem;
}

.KopierMeldingsreferanse:hover {
    background-color: lightgray;
    color: white;
}


.KopierMeldingsreferanse:focus-visible {
    color: grey;
}

.KopierMeldingsreferanse:active {
    filter: brightness(50%);
}

.Icon {
    height: 1rem;
    transition: filter 0.2s ease;
}
