.Hendelselinje {
    display: flex;
    align-items: center;
}

.Hendelselinje + .Hendelselinje {
    border-top: #efefef solid 0.1em;
    padding: 0.1em 0;
    margin-top: 0.1em;
    margin-bottom: -0.1em;
}

.Hendelsetype {
    width: 12em;
    text-align: left;
    background-color: var(--ax-bg-default);
}

.DatoText {
    font-size: small;
    color: grey;
    min-width: 5.2em;
    margin-right: 0.5em;
    margin-left: 0.2em;
}

.Meldingsreferanse {
    font-size: small;
    color: grey;
    margin-left: 0.5rem;
    display: inline-block;
    width: 18rem;
}

.SkriftMedNestenLikBredde {
    font-family: verdana, sans-serif;
}

.FokusPåHover:hover {
    color: rgba(78, 78, 78, 1);
    background-color: rgba(228, 220, 214, 0.29);
    margin: 0 0.2em 0 0;
    padding: 0.2em 0.3em 0.2em 0.2em;
    border-radius: 0.2em;
    transition: all 0.5s ease;
}

.KopierMeldingsreferanse {
    align-items: center;
    outline: none;
    border: none;
    background: none;
    color: white;
    transition: color 0.2s ease;
    display: inline;
    width: min-content;
    padding: 2px;
    margin-left: 0.5rem;
}

.KopierMeldingsreferanse:hover {
    background-color: lightgray;
    color: white;
}

.KopierMeldingsreferanse:focus-visible {
    color: grey;
}

.KopierMeldingsreferanse:active {
    filter: brightness(50%);
}

.Icon {
    height: 1rem;
    transition: filter 0.2s ease;
}

.Fil {
    color: var(--ax-text-neutral)
}

.Json {
    color: var(--ax-text-neutral)
}
