apiVersion: nais.io/v1alpha1
kind: Application
metadata:
  name: spanner
  namespace: tbd
  labels:
    team: tbd
spec:
  image: {{image}}
  port: 8080
  ingresses:
    - https://spanner.intern.nav.no
    - https://spanner.ansatt.nav.no
  liveness:
    initialDelay: 10
    path: internal/isalive
  readiness:
    initialDelay: 10
    path: internal/isready
  replicas:
    cpuThresholdPercentage: 90
    max: 1
    min: 1
  resources:
    limits:
      memory: 2048Mi
    requests:
      cpu: 50m
      memory: 64Mi
  azure:
    sidecar:
      enabled: true
      autoLogin: true
      autoLoginIgnorePaths:
        - /assets/**
    application:
      tenant: nav.no
      enabled: true
      claims:
        extra:
          - "NAVident"
        groups:
          - id: "f787f900-6697-440d-a086-d5bb56e26a9c" # tbd
          - id: "c0227409-2085-4eb2-b487-c4ba270986a3" # nais-tbd
          - id: "382f42f4-f46b-40c1-849b-38d6b5a1f639" # sykepenger-spanner
      allowAllUsers: false
  accessPolicy:
    outbound:
      rules:
        - application: logging
          namespace: nais-system
        - application: spleis-api
        - application: sparsom-api
        - application: spurtedu
        - application: speed-api
  env:
    - name: DEVELOPMENT
      value: "false"
    - name: SPLEIS_SCOPE
      value: api://prod-gcp.tbd.spleis-api/.default
    - name: SPARSOM_SCOPE
      value: api://prod-gcp.tbd.sparsom-api/.default
    - name: HTTP_PORT
      value: "8080"
    - name: HTTP_HOST
      value: spanner.ansatt.nav.no
    - name: SPLEIS_API_URL
      value: http://spleis-api
    - name: SPARSOM_API_URL
      value: http://sparsom-api
    - name: SPURTE_DU_TILGANG
      value: "c0227409-2085-4eb2-b487-c4ba270986a3,382f42f4-f46b-40c1-849b-38d6b5a1f639"
    - name: SPEED_API_URL
      value: http://speed-api
    - name: TOKEN_ENDPOINT_ENV_KEY
      value: AZURE_OPENID_CONFIG_TOKEN_ENDPOINT
  observability:
    logging:
      destinations:
        - id: elastic
        - id: loki
