
.LukkHendelseButton {
    border-style:none;
    background-color: transparent;
}

.LukkHendelseButton:hover {
    background-color: lightgray;
}

.LukkHendelseButton:active {
    background-color: gray;
}