.PersonTree {
    min-height: 10em;
    max-width: 20em;
}

.LøvNode {
    background-color: seashell;
    padding: .5em!important;
}

.PersonTree .node-motion {
    transition: all 0.3s;
    overflow-y: hidden;
}

.PersonNode {
    margin: 0.2rem 0 !important;
    padding: .3em!important;
}

.ArbeidsgiverNode {
    display: grid;
    grid-template-columns: min-content 1fr;
}

.ExpandArbeidsgiverButton {
    margin: 0 0 0.6em;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

.ExpandArbeidsgiverButton:hover {
    background: rgba(189, 195, 199, 0.50);
    outline: 1px solid rgba(189, 195, 199, 0.80);
}

.Highlighted {
    background: rgba(144, 202, 249, 0.20);
    box-shadow: 0 0 0 1px rgba(144, 202, 249, 0.50);
}

.TreeNode {
    margin: 0 0 0.5em;
    padding: 3px;
    border-radius: 0.3em;
}

.Indentation2 {
    padding-left: 2rem;
}

.Forkastet {
    color: lightslategray;
    background-color: rgba(228, 220, 214, 0.29);
}

.ForkastetLabel::before {
    content: "Forkastet";
    margin-right: 0.3rem;
    padding: 1px 2px;
    font-size: small;
    font-weight: bold;
    font-family: sans-serif;
    font-variant: small-caps;
    vertical-align: center;
    background-color: lightslategray;
    color: white;
}

.TilstandText {
    font-size: small;
}
