.PersonTree {
    grid-area: nav;
    border: black solid 2px;
    min-height: 10em;
    max-width: 20em;
}


.PersonTree .node-motion {
    transition: all 0.3s;
    overflow-y: hidden;
}

.ArbeidsgiverNode {
}

.Highlighted {
    background: blue;
}

.TreeText {
    margin: 0;
    padding: 3px;
    border-bottom: gray solid 1px;
}

.Indentation2 {
    padding-left: 2rem;
}