.PersonTree {
    min-height: 10em;
    max-width: 20em;
}


.PersonTree .node-motion {
    transition: all 0.3s;
    overflow-y: hidden;
}

.ArbeidsgiverNode {
    display: grid;
    grid-template-columns: min-content max-content;
}

.ExpandArbeidsgiverButton {
    margin: 0;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

.ExpandArbeidsgiverButton:hover {
    background: rgba(189, 195, 199, 0.50);
    outline: 1px solid rgba(189, 195, 199, 0.80);
}



.Highlighted {
    background: rgba(144, 202, 249, 0.20);
    outline: 1px solid rgba(144, 202, 249, 0.50);
}

.TreeNode {
    margin: 0;
    padding: 3px;
}

.Indentation2 {
    padding-left: 2rem;
}

.Forkastet {
    color: lightslategray;


}

.ForkastetLabel {
    display: inline-block;
    font-size: small;
    font-weight: bold;
    font-family: sans-serif;
    font-variant: small-caps;
    vertical-align: center;
    background-color: lightslategray;
    color: white;
}