.SpannSpan {
    font-size: var(--a-font-size-heading-2xlarge);
}

.User {
    color: var(--a-deepblue-100)
}

[data-theme="spanner"] {
    --ac-internalheader-bg: var(--a-deepblue-500);
    --ac-internalheader-hover-bg: var(--a-deepblue-600);
    --ac-internalheader-divider: var(--a-deepblue-900);
    --ac-internalheader-text: var(--a-white);
    --ac-button-primary-bg: var(--a-deepblue-100);
    --ac-button-primary-hover-bg: var(--a-deepblue-200);
    --ac-button-primary-focus-bg: var(--a-deepblue-300);
    --ac-button-primary-text: #000;
}
