name: Bygge Spannerish og deploye til dev

on:
  push:
    paths-ignore:
      - 'backend/**'
    branches:
      - main

jobs:
  build:
    name: build docker image
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '21.x'
          cache: 'gradle'

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: 24.x

      - name: Install dependencies
        run: npm ci --ignore-scripts
        working-directory: frontend

      - name: Run test
        run: npm run test
        working-directory: frontend

      - name: Build frontend
        run: npm run build
        working-directory: frontend

      - name: overskriv settings.gradle.kts
        run: |
          mv -f spannerish.settings.gradle.kts settings.gradle.kts
      - name: test and build
        run: ./gradlew build
        env:
          ORG_GRADLE_PROJECT_githubPassword: ${{ secrets.GITHUB_TOKEN }}
      - name: build docker image
        uses: nais/docker-build-push@v0
        id: docker-build-push
        with:
          team: tbd
          tag: latest
          dockerfile: Dockerfile
          docker_context: filbackend
          image_suffix: ish
    outputs:
      image: ${{ steps.docker-build-push.outputs.image }}

  deployDev:
    name: deploy to dev
    needs: build
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    steps:
      - uses: actions/checkout@v4
      - uses: nais/deploy/actions/deploy@v2
        env:
          CLUSTER: dev-gcp
          RESOURCE: deploy/spannerish.yml
          IMAGE: ${{ needs.build.outputs.image }}
